.App {
  text-align: center;
  background-color: #afafaf;
  background-size: cover;
display: flex;
  height: 100vh;
  overflow: hidden;
  
}
.flex{
  display: flex;
  justify-content: center;
  align-items: left !important;
  height: 100vh;
}
.sidebar {
  width: 260px;
  background-color: #800000;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}